.profile {
    background-color: #18191a;
    /* height: 92vh; */
}

.profile .nav-item button {
    color: white;
    font-weight: bold;
}

.profile th,
td {
    color: white;
}

.img-profile__QR {
    width: 100%;
}

.img-profile__QR img {
    width: 50%;
    border-radius: 50%;
}

.img-profile {
    width: 100%;
}

.img-profile img {
    width: 100%;
    border-radius: 50%;
}